/YouTubeNotificator.Domain/obj/Debug/net6.0
/YouTubeNotificator.Persistence/obj/Debug/net6.0
/YouTubeNotificator.Domain/obj
/YouTubeNotificator.Persistence/obj
/YouTubeNotificator.XUnit/obj/Debug/net6.0
/YouTubeNotificator.Tests/obj
/YouTubeNotificator.XUnit/obj
/YouTubeNotificator.WebAPI/obj
/YouTubeNotificator.Tests/bin
/*.user
/YouTubeNotificator.WebAPI/*.user
/YouTubeNotificator.WebAPI/Deploy/env.cmd
/.vs/YouTubeNotificator/FileContentIndex
/.vs/YouTubeNotificator/v17
/.vs
/YouTubeNotificator.XUnit/bin/Debug/net6.0
/YouTubeNotificator.Concole/obj
/YouTubeNotificator.Domain/bin/Debug/net6.0
/YouTubeNotificator.WebAPI/bin/Debug/net6.0
/YouTubeNotificator.Persistence/bin/Debug/net6.0
/YouTubeNotificator.Concole/bin/Debug/net6.0
/YouTubeNotificator.ApiTest/bin/Debug/net6.0
/YouTubeNotificator.ApiTest/obj
/YouTubeNotificator.ApiTest/.vs/YouTubeApiTest/v17
/YouTubeNotificator.ApiTest/.vs/YouTubeApiTest/FileContentIndex
/YouTubeNotificator.ApiTest/.vs/YouTubeApiTest/DesignTimeBuild
/YouTubeNotificator.Concole/bin/Debug/net7.0
/YouTubeNotificator.Domain/bin/Debug/net7.0
/YouTubeNotificator.Persistence/bin/Debug/net7.0
/YouTubeNotificator.XUnit/bin/Debug/net7.0
