/YouTubeNotificator.Domain/obj/Debug/net6.0
/YouTubeNotificator.Persistence/obj/Debug/net6.0
/YouTubeNotificator.Domain/obj
/YouTubeNotificator.Persistence/obj
/YouTubeNotificator.XUnit/obj/Debug/net6.0
/YouTubeNotificator.Tests/obj
/YouTubeNotificator.XUnit/obj
/YouTubeNotificator.WebAPI/obj
/YouTubeNotificator.Tests/bin/Debug/net6.0
net6.0
/*.user
/YouTubeNotificator.WebAPI/*.user
